<?js
    var data = obj;
    var self = this;

    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption examples-tmpl"><?js= example.caption ?></p>
    <?js } ?>
    <pre class="prettyprint examples-tmpl"><code><?js= self.htmlsafe(example.code) ?></code></pre>
<?js
    });
?>