<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><?js if ( title && title !== 'Nobs • Share Buttons - Documentation' ) { ?><?js= title ?> - Nobs • Share Buttons for WordPress — Documentation<?js } else { ?>Nobs • Share Buttons for WordPress — Documentation<?js } ?></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:url" content="https://sharebuttons.social/doc/" />
        <meta property="og:site_name" content="Social Sharing Buttons" />
        <meta property="og:title" content="Documentation Social Sharing Buttons for WordPress" />
        <meta property="og:description" content="Here is the complete documentation for the best Social Sharing Buttons for WordPress made free." />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:locale:alternate" content="en_UK" />
        <meta property="og:locale:alternate" content="en_GB" />
        <meta property="og:locale:alternate" content="en_CA" />
        <meta property="og:locale:alternate" content="fr_FR" />
        <meta property="og:locale:alternate" content="fr_CA" />

        <meta property="og:image" content="https://sharebuttons.social/assets/img/og-facebook.png" />
        <meta property="og:image:secure_url" content="https://sharebuttons.social/assets/img/og-facebook.png" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="627" />
        <meta property="og:image:alt" content="Wonderful Colored Social Sharing Buttons" />

        <meta property="og:image" content="https://sharebuttons.social/assets/img/og-pinterest.png" />
        <meta property="og:image:secure_url" content="https://sharebuttons.social/assets/img/og-pinterest.png" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:image:alt" content="Wonderful Colored Social Sharing Buttons" />

        <meta property="og:rating" content="4.7" />
        <meta property="og:rating_scale" content="5" />
        <meta property="og:rating_count" content="87" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@wpsharebuttons">
        <meta name="twitter:creator" content="@geoffreycrofte">
        <meta name="twitter:title" content="Documentation Social Sharing Buttons">
        <meta name="twitter:description" content="Here is the complete documentation for the best Social Sharing Buttons for WordPress made free.">
        <meta name="twitter:image" content="https://sharebuttons.social/assets/img/og-twitter-card.png">

        <meta name="flattr:id" content="nx05xn">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#103744">
        <meta name="apple-mobile-web-app-title" content="Nobs - Share">
        <meta name="application-name" content="Nobs - Share">
        <meta name="msapplication-TileColor" content="#103744">
        <meta name="theme-color" content="#ffffff">

        <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
        <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NF3HV8T');</script>
        <!-- End Google Tag Manager -->
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF3HV8T"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="app">
            <?js if ( title && title === 'Nobs • Share Buttons - Documentation' ) { ?>
            <section role="main" id="main" class="homepage">
                <h1 class="page-title">
                    Nobs • Share Buttons
                    <span>Documentation</span>
                </h1>
            <?js } else { ?>
            <section role="main" id="main" class="doc-page">
                <h1 class="page-title"><?js= title ?></h1>
            <?js } ?>

                <?js= content ?>

                <p class="copyright"><a href="https://wordpress.org/plugins/juiz-social-post-sharer/">Plugin</a> and documentation by <a href="https://geoffrey.crofte.fr/en/">Geoffrey Crofte</a> - All Right Reserved</p>
            </section>

            <nav role="navigation" id="navigation">
                <?js= this.nav ?>

                <p class="version">Doc. v 2.0.0</p>
            </nav>
        </div>
        
        <script src="scripts/juiz.js" defer></script>
        <script src="scripts/prettify/prettify.js" defer></script>
        <script src="scripts/prettify/lang-css.js" defer></script>
        <script>
            let launch = setInterval(function(){
                if (typeof prettyPrint === 'function' ) {
                    prettyPrint();
                    clearInterval(launch);
                    launch = null;
                }
            }, 50);
        </script>
        <script src="scripts/linenumber.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function(event) {
                docsearch({
                    apiKey: 'a14c39909d4b9b16d1bebc8035db05f3',
                    indexName: 'sharebuttons',
                    inputSelector: '[type="search"]',
                    debug: true
                });
            });
        </script>   
    </body>
</html>