<?js
var data = obj;
var self = this;
?>

    <div class="mainpage-tmpl section-like">
        <article>
	        <p class="home-description">Add well designed buttons after or before your posts, or a lot of different places to allow your visitors to your content. Buttons are Retina/HDPI-ready, translation-ready and come with useful options and hooks for developers. It's totally Accessiblity, Privacy, Performant and GDPR compliant.</p>

			<form class="home-search">
				<noscript>This search uses JavaScript to work. Use the <a href="#navigation">main navigation</a> instead.</noscript>
				<p>
					<label for="search">Search the documentation</label>
					<input type="search" name="search" id="search" class="home-search-input">
				</p>
			</form>
			<section id="most-visited" class="home-section">
				<div class="container">
					<h2 class="h2-like">
						Most helpful contents
					</h2>
					<p class="home-subtitle">
						The most common visited resources to help you answer your questions.
					</p>
					<ul class="home-tiles">
						<li>
							<a href="tutorial-customize-buttons-appearance.html">
								<span class="home-tile-type">Tutorial</span>
								<span class="home-tile-title">Customize Buttons Appearance</span>
								<span class="home-tile-desc">Learn to customize your buttons with several simple techniques.</span>
							</a>
						</li>
						<li>
							<a href="tutorial-create-a-custom-button.html">
								<span class="home-tile-type">Tutorial</span>
								<span class="home-tile-title">Create a custom button</span>
								<span class="home-tile-desc">Learn how to add your own custom button with our API.</span>
							</a>
						</li>
						<li>
							<a href="/faq.html">
								<span class="home-tile-type">Help</span>
								<span class="home-tile-title">Frequently Asked Questions</span>
								<span class="home-tile-desc">Learn things thanks to others' questions.</span>
							</a>
						</li>
						<li>
							<a href="/faq.html">
								<span class="home-tile-type">Knowledge</span>
								<span class="home-tile-title">Nobs Features</span>
								<span class="home-tile-desc">Get a reminder of the main features.</span>
							</a>
						</li>
					</ul>
				</div>
			</section>
			<ul>
				<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=P39NJPCWVXGDY&amp;lc=FR&amp;item_name=Juiz%20Social%20Post%20Sharer%20%2d%20WP%20Plugin&amp;item_number=%23wp%2djsps&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">Donate what you want with Paypal</a></li>
				<li><a href="https://buymeacoffee.com/geoffreycrofte">Buy me a Coffee</a></li>
				<li><a href="https://flattr.com/submit/auto?user_id=CreativeJuiz&amp;url=http://wordpress.org/plugins/juiz-social-post-sharer/&amp;title=Juiz%20Social%20Post%20Sharer%20-%20WordPress%20Plugin&amp;description=Awesome%20WordPress%20Plugin%20helping%20you%20to%20add%20buttons%20at%20the%20beginning%20or%20the%20end%20of%20your%20WordPress%20contents%20easily&amp;tags=WordPress,Social,Share,Buttons,Network,Twitter,Facebook,Linkedin&amp;category=software">Flattr this thing!</a></li>
			</ul>
        </article>
    </div>

